
<style>
body {
	font: 12px Arial, Helvetica, Geneva, sans-serif;
	color: black;
 	font-size:        small;
 	margin:         0px;
}



.container {
	display: table;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 10px;
	}

.centerspan{
	color: red;
	border-style: solid;
	border-radius: 25px;
	border-padding: 10px;
	padding: 10px 10px 10px 10px;
	margin-top:10px;
	}

.column{
display: table-cell;
vertical-align: top;
margin:10px;
padding: 10px 10px 10px 0px;
}

.headratio{
width: 50%;
padding : 0px 10px 0px 10px;

}

.bodyratio{
width: 75%;

}

.footratio{
width:100%;
}

.offers{
border-style: solid;
border-radius: 25px;
color:blue;
border-padding: 10px;
margin-left: 10px;
padding:10px ;}


.cellrows{
border-style: solid;
border-radius: 25px;
color:blue;
padding:10px;
}

.notbottom{
margin-bottom: 10px;
margin-right: 20px;}

.isbottom{
margin-bottom: 0px;
margin-right: 20px;}

.cellrows img{
float:left;}

.itMid{
width:50%;
padding-left:10px;
border-style: solid;
border-radius: 25px;}


.inner img
{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto;
}

.outer
{
    width: 100px;
    height: 100px;
}

.inner
{
    display:table-cell;
    height: 100px;
    width: 100px;
    vertical-align: top;
}





</style>
