<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://www.cs.mun.ca/~g25gal/comment.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.cs.mun.ca/~g25gal/stylesheet.css">
<meta charset="ISO-8859-1">
<title>Happy Travels</title>
</head>

<body>

<div class="container centerspan">
<div class="column">
<h1>Sydney Itinerary</h1>
</div>
<div class="column">
        <a href="http://www.cs.mun.ca/~g25gal/imgs/temp.JPG"><img alt="Bahamas" src="http://www.cs.mun.ca/~g25gal/imgs/temp_thumb.jpg"></a>
</div>
<div class="column">
        <a href="http://www.cs.mun.ca/~g25gal/imgs/zurich-switzerland.jpg"><img alt="Switzerland" src="http://www.cs.mun.ca/~g25gal/imgs/zurich-switzerland_thumb.jpg"></a>
	</div>	
			
		<img></img><img></img><img></img>
</div>

<div class="container">
	<div class="column itMid">
		<h1>Available Rates:</h1>
			<ul><li>Deluxe: $7500</li><li>Standard: $5000</li><li>Economy: $3750</li></ul>
	</div>

	<div id="column">
		<div class= "cellrows">
			<p>Whether you go to Sydney to experience its exotic beaches, vibrant nightlife, excellent cuisine, cultural events or even just to see the iconic Sydney Opera House, Sydney offers many exciting options to tourists looking to enjoy themselves.</p>
		</div>

		<div class = "cellrows">
		<p>Tripadvisor.com ranks Sydney's top attractions as follows: <ol><li>Sydney Harbour</li><li>Condi to Coogee Beach Coastal Walk<li></li>Sydney Opera House</li><li>Sydney Harbour Bridge</li><li>Historical and Heritage Tours</li></ol></p>
		</div>
	</div>

</div>

<hr>

<div class="container">

	<div class="column itMid">
		<p>Included in the trip's listed price are airfare and accommodation, as well as transport from Sydney's airport to your hotel.</p>
	</div>

	<div class="column itMid">
		<p>Taxes, fees, meals, and the majority of transportation expenses are not included in the listed price.</p>
	</div>

</div>
<hr>
<a href="/post"> Submit a Comment </a>

<div id="post_container">
<br>
{content}
</div>
</body>
</html>