<!DOCTYPE html>
<html><head>
<link rel="stylesheet" type="text/css" href="/stylesheet.css">
<meta charset="ISO-8859-1">
<title>Happy Travels</title>


    <script type="text/javascript">
        
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        

        function showPosition(position) {
            document.getElementById("lati").value = position.coords.latitude;
            document.getElementById("long").value = position.coords.longitude;
        }
        
    </script>

</head>

<body>


<div id="form_submit">
			<div id="submit_title_bar"><div id="submit_title">Submit A Post</div><div id="spacer"></div></div>
			<div id="form_content">
				<form action="" method="POST">

					<input type="hidden" value="" name="long" id="long"/>
                    <input type="hidden" value="" name="lati" id="lati"/>
					<table>
						<tr>
							<td>Poster:</td>
							<td>
								<select name="poster" id="poster" onChange="javascript:toggleNameField()">
									<option value="0">Traveller</option>
									<option value="1">Hotel Manager</option>
								</select>
							</td>
						</tr>
						<tr id="namefield">
							<td>Name:</td>
							<td>
								<input type="text" value="" name="name"/>
							</td>
						</tr>
						<tr id="rateing">
							<td>Rating:</td>
							<td>
								<input type="text" value="" name="title"/>
							</td>
						</tr>
						<tr>
							<td>Comment:</td>
							<td>
								<textarea name="content" rows=7></textarea>
							</td>
						</tr>
						<tr>
							<td colspan=2 style="text-align: right">
								<input type="submit" value="Submit" />
							</td>
						</tr>
					</table>
				</form>
				</div>
	</div>
</body>
</html>
