<!DOCTYPE html>
<html>
<head>
<META http-equiv="refresh" content="2;URL=./index">
<title>Blog Postings</title>
<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<div class="container centerspan">

		<div class="column headratio"><h1>Welcome to Lau Travel</h1></div>			 
		<div class="column"><p align = "right" style="padding-right :10px;">230 Elizabeth Ave., St. John's, NL<br>Phone: 1 (555) 555-5555 </div>
	</div>

<div style="text-align: center">
	Redirecting to postings....
</div>
</body>
</html>