<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://www.cs.mun.ca/~g25gal/comment.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.cs.mun.ca/~g25gal/stylesheet.css">
<meta charset="ISO-8859-1">
<title>Happy Travels</title>
</head>

<body>

<div class="container centerspan">
<div class="column">
<h1>Zurich Itinerary</h1>
</div>
<div class="column">
        <a href="http://www.cs.mun.ca/~g25gal/imgs/temp.JPG"><img alt="Bahamas" src="http://www.cs.mun.ca/~g25gal/imgs/temp_thumb.jpg"></a>
</div>
<div class="column">
        <a href="http://www.cs.mun.ca/~g25gal/imgs/zurich-switzerland.jpg"><img alt="Switzerland" src="http://www.cs.mun.ca/~g25gal/imgs/zurich-switzerland_thumb.jpg"></a>
	</div>	
			
		<img></img><img></img><img></img>
</div>

<div class="container">
	<div class="column itMid">
		<h1>Available Rates:</h1>
			<ul><li>Deluxe: $7500</li><li>Standard: $5000</li><li>Economy: $3750</li></ul>
	</div>

	<div id="column">
		<div class= "cellrows">
			<p>Staying in the five-star Park Hyatt Zurich Hotel, you'll quickly discover why Zurich is such a uniquely popular tourist destination: it has something to offer for everyone. Whether you're interested by history, art, nature, or something else altogether, you'll love Zurich!</p><blockquote>"Join cheesemakers in a high valley, try to call the shepherds on an alphorn, and hike through some of the world's most stunning mountain scenery."
<p>Rick Steves (author)</p></blockquote>
		</div>

		<div class = "cellrows">
			<p> As the top 5 tourist destinations in Zurich, TripAdvisor.com recommends <ol><li>Lake Zurich</li><li>Old Town (Altstadt)</li><li>Walking Tours</li><li>Uetliberg Mountain</li><li>Museum of Art (Kunsthaus Zurich)</li></ol></p>
		</div>
	</div>

</div>

<hr>

<div class="container">

	<div class="column itMid">
		<p>Included in the price we've listed are airfare, accommodation at a five-star hotel, transportation both ways between Zurich's airport and hotel, and one meal a day.</p>
	</div>

	<div class="column itMid">
		<p>The price listed does not include transportation beyond that listed in the section to the left, taxes, fees, or any other expense incurred over the course of the vacation.</p>
	</div>

</div>
<br>

	<div class="container centerspan">
<ul id="comments">
	</ul>
<a href="/post"> Submit a Comment </a>

<div id="post_container">
<br>
{content}
</div>
</div>

</body></html>